<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles/unauthorized.css" />
</head>

    <div id="ctn">
        <div class="marquee">
            <div class="marquee-text"></div>
            <div class="marquee-text"></div>
            <div class="marquee-text"></div>
        </div>

        <div class="text-ctn">ERROR</div>

        <div id="forbidden">FORBIDDEN</div>

        <div class="text-ctn">HTTP<br>403</div>

        <div class="marquee">
            <div class="marquee-text"></div>
            <div class="marquee-text"></div>
            <div class="marquee-text"></div>
        </div>
    </div>
</div>